In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,73.54,43,0,4.25,AU,2022-09-30 06:01:01
1,1,San Patricio,28.0170,-97.5169,73.83,60,0,4.41,US,2022-09-30 06:01:01
2,2,New Norfolk,-42.7826,147.0587,54.91,48,8,1.99,AU,2022-09-30 06:01:01
3,3,Riyadh,24.6877,46.7219,84.34,14,0,7.96,SA,2022-09-30 05:57:57
4,4,Punta Arenas,-53.1500,-70.9167,41.11,80,39,13.69,CL,2022-09-30 06:01:02

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Riyadh,24.6877,46.7219,84.34,14,0,7.96,SA,2022-09-30 05:57:57
5,5,Butaritari,3.0707,172.7902,82.62,72,80,16.67,KI,2022-09-30 06:01:03
6,6,Atuona,-9.8000,-139.0333,76.91,65,1,18.61,PF,2022-09-30 06:01:04
13,13,Jinchang,38.4953,102.1739,77.49,19,100,5.06,CN,2022-09-30 06:01:07
18,18,Samarai,-10.6167,150.6667,83.01,75,12,12.26,PG,2022-09-30 06:01:09
20,20,Sola,-13.8833,167.5500,80.44,66,14,11.10,VU,2022-09-30 06:01:10
23,23,Kavieng,-2.5744,150.7967,84.87,69,33,14.23,PG,2022-09-30 06:01:11
32,32,Hambantota,6.1241,81.1185,89.94,62,40,19.57,LK,2022-09-30 06:01:15
37,37,Kapit,2.0167,112.9333,89.42,57,92,2.37,MY,2022-09-30 06:01:17
41,41,Itanagar,27.1000,93.6167,89.08,56,2,4.38,IN,2022-09-30 06:01:19

In [15]:
preferred_cities_df.count()

City_ID       185
City          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
Country       185
Date          185
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3       Riyadh      SA     84.34  24.6877   46.7219
5   Butaritari      KI     82.62   3.0707  172.7902
6       Atuona      PF     76.91  -9.8000 -139.0333
13    Jinchang      CN     77.49  38.4953  102.1739
18     Samarai      PG     83.01 -10.6167  150.6667
20        Sola      VU     80.44 -13.8833  167.5500
23     Kavieng      PG     84.87  -2.5744  150.7967
32  Hambantota      LK     89.94   6.1241   81.1185
37       Kapit      MY     89.42   2.0167  112.9333
41    Itanagar      IN     89.08  27.1000   93.6167

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("success")
    except (IndexError):
        print("Hotel not found... skipping.")

success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
Hotel not found... skipping.
success
success
success
success
success
success
success
success
success
Hotel not found... skipping.
success
success
success
success
success
success
success
success
success
success
success
success
success
Hotel not found... skipping.
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
Hotel not found... skipping.
Hotel not found... skipping.
success
success
Hotel not found... skipping.
success
success
success
success
success
success
success
success
Hotel not found... skipping.
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
Hotel not found... skipping.
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
Hotel not found... skipping.
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
success
Hotel not found... skipping.
success
success
success
success
Hotel not found... skipping.
success
success
success
Hotel not found... skipping.
success
success
success
Hotel not found... skipping.
success
success
success
success
success
success
success
success
success
Hotel not found... skipping.
success
success
success
success

In [35]:
 hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Riyadh,SA,84.34,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
5,Butaritari,KI,82.62,3.0707,172.7902,Isles Sunset Lodge
6,Atuona,PF,76.91,-9.8000,-139.0333,Villa Enata
13,Jinchang,CN,77.49,38.4953,102.1739,Mingshihui Jinchang International Hotel
18,Samarai,PG,83.01,-10.6167,150.6667,Nuli Sapi
20,Sola,VU,80.44,-13.8833,167.5500,Leumerus Bungalows
23,Kavieng,PG,84.87,-2.5744,150.7967,Nusa Island Retreat
32,Hambantota,LK,89.94,6.1241,81.1185,Bungalow 63
37,Kapit,MY,89.42,2.0167,112.9333,Hotel Meligai Kapit
41,Itanagar,IN,89.08,27.1000,93.6167,Hotel Moomsie Itanagar

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [41]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))